.label-danger {
    background-color: #ef5350;
}

.label-info {
    background-color: #398bf7;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}